.animation-transition{
	transition: 0.4s;
	transition-timing-function: cubic-bezier(.1, .7, .1, 1);
}

.icon-spinner{
	@extend .spinner;
	width: 32px;
	height: 32px;
	border-left: 2px solid #d00;
	border-radius: 50%;
	position: relative;
	left:50%;
	margin-left: -16px;
	transition: 0.4s;
}

.icon-spinner.ng-hide{
	height: 0;
	width: 0;
}

.spinner{
  -webkit-animation: animation-spinner 400ms linear infinite;
  -moz-animation:    animation-spinner 400ms linear infinite;
  -ms-animation:     animation-spinner 400ms linear infinite;
  -o-animation:      animation-spinner 400ms linear infinite;
  animation:         animation-spinner 400ms linear infinite;
}

.button-busy{
 animation:         animation-button-blink 800ms linear infinite;
}

$icon-button-background: #222;
$icon-button-background-active: #D82DBC;
@-webkit-keyframes animation-button-blink {
  0%   {
    background-color: $icon-button-background;
  }

  50% {
    background-color: $icon-button-background-active;
  }

  100% {
    background-color: $icon-button-background;
  }
}

@keyframes animation-button-blink {
  0%   {
    background-color: $icon-button-background;
  }

  50% {
    background-color: $icon-button-background-active;
  }

  100% {
    background-color: $icon-button-background;
  }
}


@-webkit-keyframes animation-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}


@keyframes animation-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}