button{
	outline: none;
	background-color: transparent;
	border: none;
	font-size: inherit;
	font-family: inherit;
	text-transform: uppercase;
	border-radius: 0;
	color: inherit;
	padding: 10px;

	&:focus, &:hover, &:active{
		outline:none;
		// border:initial;
		// outline: initial;
		// background-color: initial;
	}
}

button.ghost{
	padding: 15px;
	border-radius: 15px;
	border: 1px solid;
}

.icon-button{
	display: inline-block;
	width: 64px;
	text-align: center;
	background-color: #222;
	border-radius: 50%;
	color: white;
	margin:10px;

	i{
		font-size: 36px;
		line-height: 64px;
	}
}