button{
	outline: none;
	background-color: transparent;
	border: none;
	font-size: inherit;
	font-family: inherit;
	text-transform: uppercase;
	border-radius: 0;
	color: inherit;
	padding: 10px;

	&:focus, &:hover, &:active{
		outline:none;
		// border:initial;
		// outline: initial;
		// background-color: initial;
	}
}

button.ghost{
	padding: 15px;
	border-radius: 15px;
	border: 1px solid;
}
