body{
	// background-color: #2A41B3;
}


.view-background-text{
	display: block;
	font-weight: 100;
	text-align: center;
	padding: 10px 15px;
}

.view-background-title{
	@extend .view-background-text;
	padding: 0;
}

.view-image-title{
	font-size: 14pt;
	padding: 64px 40pt;
	line-height: 20pt;
}

.text-hidden{
	opacity: 0;
}

.view-image-title-offset,  .view-gallery-title-offset{
	position:relative;
	background-image: url('../assets/gradient-image-view-white.png');
	background-size: 1px 64px;
	background-position: left bottom;
	background-repeat: repeat-x;
}

.view-gallery-title{
	height: 200px;
	line-height: 200px;
	background-size: 1px 64px;
	font-size: 20pt;
}
.view-gallery-title-offset{
	height: 200px;
	padding-top: 128px;
}



.container{
	// background: rgb(42,65,179);
	// background: -moz-linear-gradient(top,  rgba(42,65,179,1) 0%, rgba(178,95,216,1) 100%);
	// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(42,65,179,1)), color-stop(100%,rgba(178,95,216,1)));
	// background: -webkit-linear-gradient(top,  rgba(42,65,179,1) 0%,rgba(178,95,216,1) 100%);
	// background: -o-linear-gradient(top,  rgba(42,65,179,1) 0%,rgba(178,95,216,1) 100%);
	// background: -ms-linear-gradient(top,  rgba(42,65,179,1) 0%,rgba(178,95,216,1) 100%);
	// background: linear-gradient(to bottom,  rgba(42,65,179,1) 0%,rgba(178,95,216,1) 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a41b3', endColorstr='#b25fd8',GradientType=0 );
}