.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.flex-row{
	display: flex;
	flex-direction: row;
}

.flex-col{
	display: flex;
	flex-direction: column;
}

.flex{
	flex:1;
}

.padding{
	padding: 15px;
}

p{
	line-height: 200%;
}

.text-box{
	// text-align: left;
	font-size: 10pt;
	padding: 15px 40px 15px 40px;
}

.text-hidden{
	opacity: 0;
}
