$view-header-height: 120px;

#loading-bar .bar {
  background: #29d;
  height: 4px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}


[layout-center]{
	display: table;
	height: 100%;
	width: 100%;

	.layout-inner-wrapper{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

.view-bar-left{
	position: absolute;
	top:0;
	left:0;
	width: 64px;
	bottom: 0;
}

.view-bar-item{
	line-height: 64px;
	font-size: 20pt;
	text-align: center;
	text-transform: uppercase;
	opacity:0.4;
}


.view{
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	overflow: hidden;

	&.has-bar-left{
		left:64px;
	}

	&.on-load{
		-webkit-filter: blur(10px);
	}
}

.view-header-offset{
	height: $view-header-height;
}

.view-background{
	@extend .view;
}


// (c) liljeblad
// all are !important so that it overrides elements style tag
// which is set while dragging the elment around
//
// style tag cannot be removed because it causes flickering and
// view bounces around the screen
//
// overriding with !important produces better results
//
$view-transition : 0.4s;
.view-animate{
	&.ng-animate{
		transition: $view-transition !important;
	}

	&.ng-enter{
		transform: translate3d(100%, 0,0) !important;
		z-index: 2;
	}

	&.ng-enter-active{
		transform: translate3d(0, 0,0) !important;
	}

	&.ng-leave-active{
		transform: translate3d(0, 0,0) !important;
		z-index: 1;
	}

	&.ng-leave{
		transform: translate3d(-100%, 0,0) !important;
		z-index: 1;
	}
}

.animation-direction-back .view-animate{
	&.ng-animate{
		transition: $view-transition !important;
	}

	&.ng-enter{
		transform: translate3d(-100%, 0,0) !important;
		z-index: 2;
	}

	&.ng-enter-active{
		transform: translate3d(0, 0,0) !important;
	}

	&.ng-leave-active{
		transform: translate3d(0, 0,0) !important;
		z-index: 1;
	}

	&.ng-leave{
		transform: translate3d(100%, 0,0) !important;
		z-index: 1;
	}
}

.animation-direction-up .view-animate{
	&.ng-animate{
		transition: $view-transition !important;
	}

	&.ng-enter{
		transform: translate3d(0,-100%,0) !important;
		z-index: 2;
	}

	&.ng-enter-active{
		transform: translate3d(0, 0,0) !important;
	}

	&.ng-leave-active{
		transform: translate3d(0, 0,0) !important;
		z-index: 1;
	}

	&.ng-leave{
		transform: translate3d(0,100%,0) !important;
		z-index: 1;
	}
}

.animation-direction-down .view-animate{
	&.ng-animate{
		transition: $view-transition !important;
	}

	&.ng-enter{
		transform: translate3d(0,100%,0) !important;
		z-index: 2;
	}

	&.ng-enter-active{
		transform: translate3d(0, 0,0) !important;
	}

	&.ng-leave-active{
		transform: translate3d(0, 0,0) !important;
		z-index: 1;
	}

	&.ng-leave{
		transform: translate3d(0,-100%,0) !important;
		z-index: 1;
	}
}