.list{
	list-style-type: none;

}


.group-title-label{
	padding: 15px;
}

.list-item{
	display: block;
	// border-bottom: 1px solid rgba(0,0,0,0.2);
	text-align: center;
	font-weight: 200;
	font-size: 8pt;
	text-transform: uppercase;
	text-decoration: none;
	overflow: hidden;


	&.list-animate{
		background-color: #eee;
		padding: 0px;
		line-height: 52px;
		max-height: 52px;

		&.ng-enter, &.ng-leave, &.ng-move{
			transition: 0.4s;
		}

		&.ng-leave.ng-leave-active,
		&.ng-move,
		&.ng-enter {
			max-height: 0;
		}

		&.ng-leave,
		&.ng-move.ng-move-active,
		&.ng-enter.ng-enter-active {
			max-height: 52px;
		}
	}
}



.gallery-group{
	border: none;
}

