.list{
	list-style-type: none;

}


.group-title-label{
	padding: 15px;
	border-bottom: 1px solid #eee;
}

.home-list-item{
	display: block;
	// border-bottom: 1px solid rgba(0,0,0,0.2);
	text-align: center;
	font-weight: 200;
	font-size: 8pt;
	text-transform: uppercase;
	text-decoration: none;
	overflow: hidden;
	line-height: 52px;
	background-color: #efefef;
}

.home-list-gallery-group{
	display: block;
	// border-bottom: 1px solid rgba(0,0,0,0.2);
	text-align: center;
	font-weight: 200;
	font-size: 8pt;
	text-transform: uppercase;
	text-decoration: none;
	overflow: hidden;
}


.gallery-group{
	border: none;
}

