<div class="view view-background view-gallery-title has-bar-left">
	<h2 class="view-background-title view-gallery-title">Galleries</h2>
</div>
<div class="view-bar-left" scroll-y>
	<div class="view-bar-item"
			ng-repeat="(galleryGroupIndex, galleries) in Home.galleryGroups track by galleryGroupIndex"
			ng-bind="::galleries.name"></div>
</div>
<div class="view has-bar-left" scroll-y="Root.homeScroll">
	<div class="view-gallery-title-offset"></div>

	<div class="view-colored" slide-list>
		<div ng-repeat="(galleryGroupIndex, galleries) in Home.galleryGroups track by galleryGroupIndex">
			<a class="list-item"
				slide-item="x"
				ng-href="{{gallery.href}}"
				ng-repeat="(galleryIndex, gallery) in galleries.items track by galleryIndex"
				ng-bind="gallery.name"></a>
		</div>
	</div>
</div>
