<div class="view view-background view-gallery-title view-home-title">
	<h2 class="view-background-title view-gallery-title">Galleries</h2>
</div>

<div class="view" scroll-y="Root.homeScroll">
	<div class="view-gallery-title-offset"></div>

	<div class="view-colored" slide-list>
		<div
				id="gallery-{{galleryGroupIndex}}"
				class="list-item home-list-gallery-group"
				ng-repeat="(galleryGroupIndex, galleryGroup) in Home.galleryGroups track by galleryGroupIndex">

			<h2 class="group-title-label"
					ng-click="Home.toggleGalleryGroup(galleryGroup, $event)"
					ng-bind="::galleryGroup.name"></h2>

			<a
				ng-if="galleryGroup.active"
				class="list-item home-list-item list-item-animate-line-height"
				slide-item="x"
				ng-href="{{gallery.href}}"
				ng-repeat="(galleryIndex, gallery) in galleryGroup.items track by galleryIndex"
				ng-bind="::gallery.name"></a>
		</div>
	</div>
</div>
