.view-image{
	.image-wrapper{
		background-color: #eee;
		font-size: 0;
	}

	.grid-image{
		height: 0;
		width: (100%/3) -1%;
		padding-bottom: (100%/3) -1%;
	}

	.image-full{
		display: block;
		position: relative;
		width: 100%;
		transition: 0.4s;
		transition-property: opacity;
		// background-color: transparent;
		background-size: contain;
	}
}


.view-image-position-counter{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	text-align: center;
	opacity: 0.3;
	font-size: 20pt;
	padding: 10px 40px;
}


.view-image-footer-offset{
	height: 113px;
}

.view-image-description{
	text-align: left;
	font-size: 10pt;
	line-height: 15pt;
	padding: 40px 40px 15px 40px;
}

.comments-title{
	padding: 15px 0px;

	&.has-comments{
		transition: 0.4s;
		font-size: 16pt;
	}
}
.image-comments-text{
	text-align: center;
	padding: 15px 40px;
	background-color: #eee;
}

.image-comments{
	display: block;
	padding: 0 40px;
	font-weight: 100;
	text-align: center;
	background-color: #eee;
}

.view-image-user{
	text-align: right;
	padding: 15px 40px;
	font-weight: 200;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 9pt;
}