.view-image{
	.image-wrapper{
		background-color: #eee;
		font-size: 0;
	}

	.grid-image{
		height: 0;
		width: (100%/3) -1%;
		padding-bottom: (100%/3) -1%;
	}

	.image-full{
		display: block;
		position: relative;
		width: 100%;
		transition: 0.4s;
		transition-property: opacity;
		background-color: transparent;
		background-size: contain;
	}
}

.view-image-user{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-weight: 200;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 9pt;
}