<div class="view view-image" layout-center scroll-y>

	<div class="image-caption" ng-if="Image.images"><p ng-bind="Image.image.title"></p></div>

	<div ng-if="Image.image.images" class="image-wrapper" ng-repeat="(imageIndex, image) in Image.image.images track by imageIndex">
		<div class="image-container"  box width="image.width" height="image.height">
			<img image-loader="image.link"></img>
		</div>
		<div class="image-caption" ng-if="image.title"><p ng-bind="image.title"></p></div>
	</div>

	<div ng-if="!Image.image.images" class="image-wrapper">
		<div class="image-container"  box width="Image.image.width" height="Image.image.height">
			<img image-loader="Image.image.link"></img>
		</div>
		<div class="image-caption" ng-if="Image.image.title"><p ng-bind="Image.image.title"></p></div>
	</div>

</div>
