[direction-indicator]{

	.indicator-horizontal{
		position: absolute;
		height: 0;
		width: 42px;
		left:50%;
		margin-left: -21px;
		top:10px;
	}

	.indicator-vertical{
		position: absolute;
		height: 42px;
		width: 0;
		left: 10px;
		top:50%;
		margin-top: -21px;
	}

	.direction-indicator{
		position: relative;
		width: 8px;
		height: 8px;
		margin: 2px;
		background-color: white;
		border: 1px solid #d00;
		float:left;
		border-radius: 50%;
		z-index: 32;
	}
}