.image-grid{
	width: 100%;
	text-align: center;
}


.grid-image{
	display: inline-block;
	margin:0.5%;
	width: 24%;
	padding-bottom: 24%;
	height: 0px;
}

[image-loader]{
	background-color: #EFEFEF;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;

	&.image-loading{
		opacity:0.1;
	}

	&.image-ready{
		transition-duration: 0.4s;
		opacity:1;
	}
}