.image-grid{
	width: 100%;
	text-align: center;
}


.grid-image{
	display: inline-block;
	width: 25%;
	padding-bottom: 25%;
	height: 0px;
}

[image-loader]{
	background-color: #ddd;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;

	&.image-loading{
		opacity:0.3;
	}

	&.image-ready{
		transition-duration: 0.4s;
		opacity:1;
	}
}